.logo-695 {
  font-size: 80px;
}

.name-container-695 {
  font-size: 40px;
}

.compsci-695 {
  height: 300px;
}

.interest-article {
  width: 95px; 
  word-wrap: break-word; 
}

.interest-header-695 {
  font-size: 24px;
}

.interest-695 {
  height: 95px;
  width: 95px;
}

.interest-text-695 {
  font-size: 24px;
}

.work-article {
  width: 200px; 
  word-wrap: break-word; 
}

.work-header-695 {
  font-size: 24px;
}

.work-image-695 {
  height: 200px;
  width: 200px;
}
