img, embed,
object, video {
  max-width: 100%;
}

.outside-body {
  position: absolute; 
  z-index: -1; 
  width: 100%;
  height: 100%;
  margin: 0;
  visibility: hidden; 
}

.container { 
  width: 100%; 
  display: flex; 
  flex-wrap: wrap;
}

.box {
  width: 100%; 
}

header { 
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: grey;
}

.logo { 
  font-size: 40px;
  margin: 0; 
  font-family: 'Clicker Script', cursive; 
  text-align: left; 
}

.name-container { 
  margin: 0; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 20px;
  text-align: right; 
}

#name {
  margin: 0; 
}

#title {
  margin: 0; 
}

main {
  margin-top: 5px;   
}

.compsci {
  height: 200px;
  width: 100%;
  margin-top: 5px;
}

.interest-article {
  width: 75px; 
  word-wrap: break-word;
}

.interest-header { 
  font-size: 18px;
  text-align: center;
  font-family: 'Iceland', cursive; 

}

.interest-pictures {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.interest {
  height: 75px; 
  width: 75px;
}

.interest-text {
  text-align: center;
  margin-top: 2px;
  font-family: 'Iceland', cursive;
}

.work-text {
  text-align: center;
  margin-top: 2px;
}

.work-article {
  width: 100px;
  word-wrap: break-word;
}

.work-header {
  font-size: 18px; 
  text-align: center;
  color: grey;
}

.work-pictures {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.work-image {
  height: 100px;
  width: 100px; 
}

footer {
  margin-left: auto;
  margin-right: auto; 
  width: 75%;
}
